<form class="form-horizontal">
    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
            <input type="checkbox" data-bind="checked: settings.plugins.display_eta.time24hr">{{ _('Use 24HR time instead of 12HR') }}
            </label>
			<label class="checkbox">
            <input type="checkbox" data-bind="checked: settings.plugins.display_eta.displayOnPrinter">{{ _('Display the ETA on your printers LCD screen') }}
            </label>
			<label class="checkbox">
            <input type="checkbox" data-bind="checked: settings.plugins.display_eta.removeColons">{{ _('Remove all colons(:) from the time that is displayed on the printer \(required for certain printer firmwares\)') }}
            </label>
        </div>
    </div>
</form>