<!--<form class="form-horizontal">
    <h3>Settings:</h3>
    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox" data-bind="checked: options.time24hr" id="settings-time24hr"> Display time in 24Hr Format
            </label>
        </div>
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox" data-bind="checked: options.sendToPrinter" id="settings-sendToPrinter"> Display ETA on printer
            </label>
        </div>
    </div>
</form>-->
<form class="form-horizontal">
    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
            <input type="checkbox" data-bind="checked: settings.plugins.display_eta.time24hr">{{ _('time24hr') }}
            </label>
        </div>
    </div>
</form>